{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
    <div class="parallax-container hero-banner valign-wrapper">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center">
                        <h4>Créer votre compte maintenant</h4>
                    </div>
                </div>
                <div class="card card-new-user">
                    <div class="card-content">
                        {{ include('user/_form.html.twig') }}
                    </div>
                </div>
            </div>

        </div>
        <div class="parallax"><img class="imgIndexParalax" src=" {{ asset('../public/assets/images/test.png') }}" alt="Octone s'appretant à entrée dans le terrain"></div>
    </div>

{% endblock %}
{# 
        <div class="container">
                <div class="section">
                    <div class="row">
                        <div class="col s12 center">
                            <h4>Créez votre campagne maintenant</h4>
                        </div>
                    </div>
                    <!--   Form Section   -->
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <form name="campaign" method="post">
            <div id="campaign"><div><label for="campaign_title" class="">Titre</label><input type="text" id="campaign_title" name="campaign[title]" maxlength="150"></div><div><label for="campaign_content">Description</label><textarea id="campaign_content" name="campaign[content]" maxlength="65535" style="display: none;"></textarea><div class="editor-toolbar"><a title="Bold (Ctrl-B)" tabindex="-1" class="fa fa-bold"></a><a title="Italic (Ctrl-I)" tabindex="-1" class="fa fa-italic"></a><a title="Heading (Ctrl-H)" tabindex="-1" class="fa fa-header"></a><i class="separator">|</i><a title="Quote (Ctrl-')" tabindex="-1" class="fa fa-quote-left"></a><a title="Generic List (Ctrl-L)" tabindex="-1" class="fa fa-list-ul"></a><a title="Numbered List (Ctrl-Alt-L)" tabindex="-1" class="fa fa-list-ol"></a><i class="separator">|</i><a title="Create Link (Ctrl-K)" tabindex="-1" class="fa fa-link"></a><a title="Insert Image (Ctrl-Alt-I)" tabindex="-1" class="fa fa-picture-o"></a><i class="separator">|</i><a title="Toggle Preview (Ctrl-P)" tabindex="-1" class="fa fa-eye no-disable"></a><a title="Toggle Side by Side (F9)" tabindex="-1" class="fa fa-columns no-disable no-mobile"></a><a title="Toggle Fullscreen (F11)" tabindex="-1" class="fa fa-arrows-alt no-disable no-mobile"></a><i class="separator">|</i><a title="Markdown Guide" tabindex="-1" class="fa fa-question-circle" href="https://simplemde.com/markdown-guide" target="_blank"></a></div><div class="CodeMirror cm-s-paper CodeMirror-wrap"><div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 15px; left: 15px;"><textarea autocorrect="off" autocapitalize="off" spellcheck="false" style="position: absolute; padding: 0px; width: 1000px; height: 1em; outline: none;" tabindex="0"></textarea></div><div class="CodeMirror-vscrollbar" cm-not-content="true"><div style="min-width: 1px; height: 0px;"></div></div><div class="CodeMirror-hscrollbar" cm-not-content="true"><div style="height: 100%; min-height: 1px; width: 0px;"></div></div><div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div><div class="CodeMirror-gutter-filler" cm-not-content="true"></div><div class="CodeMirror-scroll" tabindex="-1"><div class="CodeMirror-sizer" style="margin-left: 0px; margin-bottom: -17px; border-right-width: 13px; min-height: 30px; padding-right: 0px; padding-bottom: 0px;"><div style="position: relative; top: 0px;"><div class="CodeMirror-lines"><div style="position: relative; outline: none;"><div class="CodeMirror-measure"></div><div class="CodeMirror-measure"></div><div style="position: relative; z-index: 1;"></div><div class="CodeMirror-cursors"><div class="CodeMirror-cursor" style="left: 4px; top: 0px; height: 22px;">&nbsp;</div></div><div class="CodeMirror-code"><pre class=" CodeMirror-line "><span style="padding-right: 0.1px;"><span cm-text="">​</span></span></pre></div></div></div></div></div><div style="position: absolute; height: 13px; width: 1px; border-bottom: 0px solid transparent; top: 30px;"></div><div class="CodeMirror-gutters" style="display: none; height: 43px;"></div></div></div><div class="editor-preview-side"></div><div class="editor-statusbar"><span class="autosave"></span><span class="lines">1</span><span class="words">0</span><span class="cursor">0:0</span></div></div><div><label for="campaign_goal" class="">Objectif de la cagnotte</label><input type="number" id="campaign_goal" name="campaign[goal]"></div><input type="hidden" id="campaign__token" name="campaign[_token]" value="rlrnP2X-wrr77WNELDEH1ZRtV1v-miExQ2tPWkiDLmA"></div>
            <div class="input-field col s12 l6">
                                        <input id="name" type="text" class="validate" name="name">
                                        <label for="name">Votre Nom</label>
                                    </div>
                                    <div class="input-field col s12 l6">
                                        <input id="email" type="email" class="validate">
                                        <label for="email">Votre Email</label>
                                    </div>
        
            <button class="btn">Enregistrer</button>
            </form>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
         #}
